# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# EAGLE ECAD-System
HW/CAD/Eagle/UFBmod_?V?.?#?

# XILINX Vivado
*.cache/
*.hw/
*.runs/
*.sdb
*.log
._mcu.pdf
FPGA/TE0712-02-100-2C3/TE0712-02-100-2C3.cache/
FPGA/TE0712-02-100-2C3/TE0712-02-100-2C3.hw/
FPGA/TE0712-02-100-2C3/TE0712-02-100-2C3.runs/
FPGA/TE0712-02-100-2C3/TE0712-02-100-2C3.sim/

#FPGA/TE0712-02-100-2C3_V2/vivado/TE0712-02-100-2C3_V2.cache/
#FPGA/TE0712-02-100-2C3_V2/vivado/TE0712-02-100-2C3_V2.hw/
#FPGA/TE0712-02-100-2C3_V2/vivado/TE0712-02-100-2C3_V2.runs/
#FPGA/TE0712-02-100-2C3_V2/vivado/TE0712-02-100-2C3_V2.sim/


# Mac-OS
.DS_Store
._.DS_Store

# DiskStation
@eaDir

